RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^l/([a-zA-Z0-9]+)$ link.php?hash=$1 [L]
RewriteRule ^([a-zA-Z0-9]+)$ redirect.php?hash=$1 [L]

ErrorDocument 403 /404.php
ErrorDocument 404 /404.php
ErrorDocument 500 /500.php
